body {
	margin-top: 100px;
    background-image: url("../images/background.png");
}

.button-list {
    margin: 15px 5px;
}

.button-submit {
    margin-top: 10px;
}

.gif-margin {
    margin-bottom: 25px;
}

.panel {
    background-color: black;
}